
<odoo>
    <record id="action_dashboard" model="ir.actions.client">
        <field name="name">Dashboard</field>
        <field name="tag">advanced_dashboard</field>
    </record>

    <menuitem id="menu_dashboard"
              name="Dashboard"
              action="action_dashboard"
              groups="product_vendor_rfq.group_management_approval,product_vendor_rfq.group_accounts_approval"/>
</odoo>
